<h2>Formulaire d'ajout de devis : </h2>

    <!-- Demande -->
<label for="demande"> Choisir votre demande </label><br>

<form th:action="@{/demandes/getById}" th:object="${demande}" method="post">
<select for="demande" name="demande">
    <option th:each = "ld : ${listedemande}"
            th:value="${ld.id}"
            th:text="${ld.lieu}">
            ahh
    </option>
</select><br>
<button type="submit">Ceci est un bouton :D</button>
</form>

    <!-- Devis -->
<label for="devis">Choisir votre type de devis </label><br>

<select for="devis" name="devis" id="devis">
    <option value="dev1">shee</option>
</select><br>

<h3>Détails de la demande sélectionnée : </h3>
<ul>
    <li th:text="${demande.lieu}"></li>
    <li th:text="${demande.Client}"></li>
    <li th:text="${demande.Commune}"></li>
</ul>
<!-- <p th:text="${demande.lieu}" > hyhy  </p> -->


